.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/img/bg-deng.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
}

.login-section {
  width: 360px;
  height: 400px;
  border: 1px grey solid;
  position: relative;
  left: 66%;
  top: 25%;
}

h3 {
  text-align: center;
  padding-bottom: 15px;
}

.login-form {
  mat-form-field {
    width: 100%;
  }
  button {
    position: absolute;
    height: 36px;
  }
}

.form-footer {
}

.login-btn {
  width: 100%;
  bottom: 66px;
}

.register-btn {
  width: 100%;
  bottom: 10px;
}
